<!DOCTYPE html5>
<html>
	<head>

		<title>Cluster.im</title>
		<style type="text/css">
			body {margin: 0; padding: 0;}
			div.black {margin: 0; padding: 0; 
				display: block; width: 100%; 
				background-color:#333333; height: 100%;
				padding-top:10%;
			}

			div.white {margin: 0; padding: 0; 
				display: block; width: 100%; 
				background-color:#DDDDDD; height: 100%;padding-top:10%}


			p.white {font-size:2.0em; color: #DDDDDD; padding-left: 0; padding-right: 0;
			       	margin-top: 0; 
				margin-left: auto; margin-right: auto; width: 75%; text-align: center;
				font-family: Arial,sans-serif; font-style: bold; font-variant: small-caps;}

			p.black {font-size:2.0em; color: #333333; padding-left: 0; padding-right: 0;
			       	margin-top: 0; 
				margin-left: auto; margin-right: auto; width: 75%; text-align: center;
				font-family: Arial,sans-serif; font-style: bold; font-variant: small-caps;}
			a { color:#4E9258; text-decoration: none; }
			input {font-size: .8em;}
			

		</style>

		<script src='//ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js' 
			type='text/javascript'></script>
		<script type='text/javascript'>
			$("document").ready(function() {

				/* NAVIGATION */
				$('#scroll').click(function(){  
					window.history.pushState("Sign-in","Sign In","/#sign-in");
					$('html, body').animate({ scrollTop: $('#sign-in').offset().top }, 500);
					return false;
				});	
				$('#nocode').click(function(){  
					$('html, body').animate({ scrollTop: $('#three').offset().top }, 500);
					return false;
				});	
				$('#goback').click(function(){  
					$('html, body').animate({ scrollTop: $('#top').offset().top }, 500);
					return false;
				});	
				/***************/

				
				/* ACTION HANDLERS FOR SIGNIN/UP FORMS */
				/*** THESE LET YOU SUBMIT W/ ENTER KEY **/
				$("#password").keypress(function(event) {
				    if (event.which == 13) {
					     	event.preventDefault();
					        $("#login").submit();
					}
				});
				$("#invitecode").keypress(function(event) {
				    if (event.which == 13) {
				   		event.preventDefault();
					        $("#inviteform").submit();
					}
				});
			});
		
		</script>

	
	</head>
	<body>
		<div class="black" id="top" >
			<p class="white">
			Welcome to Cluster<br /></p>

			<p class="white" style="margin-top:22%">
			<a href="#sign-in" id="scroll" >Scroll</a>
			</p>
		</div>

		<div class="white" id="sign-in"> 
			<form id="login" action="/" method="post" >
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> 
			<p class="black">
				Sign In<br />
				username: <input name="username" type="text"><br />
				password: <input name="password" id="password" type="password"></p>
			</form>
			<form id="inviteform" action="/sign-up" method="post">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> 
			<p class="black">
				<br />
				or enter your invitation code<br />
				<input id="invitecode" name="invitecode" type="text"><br />
				<br />
				<a href="#" id="nocode">Don't have an account or invitation?</a>
			</p>
			</form>
		</div>

		<div class="black" id="three">
			<p class="white">Maybe you have a friend who can invite you.
			</br></br>
			<a href="#" id="goback">go back</a>
			</p>
		</div>
	</body>
</html>
