h1 {

	color: #12795D;
/*	color: #03436A;*/
/*	color: #0F472A;*/
	margin: 0;
}

h2 {
	color: #12795D;
/*	color: #0F472A;*/
	margin: 0;

}

.isinviteonly {
	display: inline;
}

body {
/*	background-color: #307050;*/
	background-color: #88DDC5;
	padding: 0;
	margin: 0;
	font-family:quattrocento-sans,Helvetica,Arial,sans-serif;

}
div .content {
	margin-left: 15%;
	margin-right: 30%;
	margin-top: 10%;
	padding-left: 15%;
	padding-right: 30%;
	padding-top: 10%;
}
a {

	color: #164379;
/*	color: #245A7A;*/
/*	color: #FF5300; red */ 
/*	color: #000000; black */ 
	text-decoration: none;
	size: 0.95em;
	font-family: Helvetica,Arial,sans-serif;
}
